
.col__login{
    text-align: center;
}

.login{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh; 
}

.auth__form{
    width: 50%;
    height: 70%;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.2);
    padding:  20px ;
    padding-right: 50px;

    
}

.log{
    text-align: center;
    color: blue;
}

.form__groups input{
    border: 1px solid silver;
    background-color: whitesmoke;
    width: 100%;
    margin: 20px;
    padding-top: 12px;
    border-radius: 5px;  
    margin: 12px; 
    padding:10px;
    color: black;
}



.btn__login{
    width: 40%;
    border: none;
        outline: none;
        padding: 8px 20px;
        border-radius: 5px;
        background: #001f2b;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        text-decoration: none;  
        
}

.btn__login:hover{
    background-color: blue;
}

.forgot{
    text-align: right;
    color:blue;
}


